<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configure</title>
    
    <link href="/final.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    />

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body class=" bg-accent-500">
    <!--Header and Nav Start-->
    <div class="presentation">
        <nav class="flex sm:justify-between text-white p-2 pb-3">
          <a
            href=""
            class="
              logo
              font-bold
              sm:m-1
              -ml-2
              mt-2.5
              mr-auto
              mb-auto
              pl-0
              sm:pl-28
              text-3xl
              sm:inline-flex
            "
          >
            Ardui.no
          </a>
          <ul
            class="
              sm:flex sm:justify-beetween
              text-center
              justify-center
              self-center
              pr-20
            "
          >
            <li><a href="#bgx" class="mx-2">Home</a></li>
            <li><a href="#features" class="mx-2">Features</a></li>
            <li><a href="#plans" class="mx-2">Plans</a></li>
            <li><a href="#showcase" class="mx-2">Showcase</a></li>
          </ul>
        </nav>
        <div class="h-full lg:h-auto w-full transition duration-1000" id="home">
          <div
            class="text-gray-200 mt-32 ml-auto sm:mt-64 sm:ml-28 w-50 text-left"
          >
            <div>
              <b class="text-gray-200 font-bold text-3xl md:text-7xl shine"
                >Sistema de Alarmas
              </b>
              <p class="text-gray-400 font-semibold text-xs md:text-lg mt-5">
                Este proyecto se basa en un sistema de alarmas controlado por un
                arduino UNO
              </p>
              <p class="text-gray-400 font-semibold text-xs md:text-base">
                que se puede visualizar mediante una aplicación web creada con
                HTML y JavaScript.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Header and Nav End-->
      <div class="max-w-6xl text-center bg-accent-300 grid grid-cols-2">
        <h1>Numero:</h1>
        <input type="number" placeholder="Ingrese el numero"> 
        <h1>Puerto COM:</h1>
        <select name="" id="">
        </select>
      </div>

</body>
</html>